@page
@model Incon.Pages.Messages.DeleteMessage

@{
    ViewData["Title"] = "Удаление сообщения";
}

<h1>Удаление сообщения</h1>

<h3>Вы уверены что хотите удалить сообщение?</h3>
<div>
    <h4>Сообщение</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        Текст сообщения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Communicationobj.Text)
        </dd>
        <dt class="col-sm-2">
            Время создания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Communicationobj.Dateofdesign)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Communicationobj.Communicationobjid" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a href="@Url.Page("/ChatsPages/DetailsChat",new{id=Pages.GlobalSettings.GlobalChat.Chatid})">Назад к списку сообщений</a>
    </form>
</div>
