@page
@model IndexModel
@{
    ViewData["Title"] = "Стартовая страница";
}

<div class="text-center">
    @if(Pages.GlobalSettings.Globalprofile==null)
    {   
    <br><h1 class="display-4">Добро пожаловать!</h1>
    <br/>
    <h1>Это мессенджер Inconnect</h1>
    <br/>
    <h2>Для начала работы необходимо войти или зерегистрироваться!</h2>
    }
    <br/>
    <h5>@Html.Raw(IndexModel.str)</h5>
    <br/>
    <h2>Это учебный проект</h2>
</div>
